twitter:
  ENABLE_SYNC: true
  ENABLE_POST: true
  Username:
  PostText: '{text} \n#crosscenter'
  CONSUMER_KEY:
  CONSUMER_SECRET:
  ACCESS_TOKEN:
  ACCESS_TOKEN_SECRET:
  REAC_ACCOUNT_MODE: false
  Auth_token:
  Ct0:
threads:
  ENABLE_SYNC: true
  ENABLE_POST: true
  Username:
  PostText: '{text} \n#crosscenter'
  Client_Secret:
  Access_Token:
rss:
  ENABLE_SYNC: false
  Sitename:
  Url:
discord_webhook:
  Url:
  AvatarUrl:
  Username:
  FooterText: 'crosscenter'
  ENABLE_POST: false