twitter:
  ENABLE_SYNC: true
  ENABLE_POST: true
  Username:
  CONSUMER_KEY:
  CONSUMER_SECRET:
  ACCESS_TOKEN:
  ACCESS_TOKEN_SECRET:
threads:
  ENABLE_SYNC: true
  ENABLE_POST: true
  Username:
  Client_Secret:
  Access_Token:
rss:
  ENABLE_SYNC: true
  Sitename:
  Url: